@font-face {
  font-family: "Pixelta";
  src: url("fonts/Pixelta.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-pixelta {
  font-family: "Pixelta", sans-serif;
  font-size: 2rem;
}
